<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
      <add key="WeedMasterUrl" value="http://127.0.0.1:9333/"/>
      <add key="FilePath" value="C:\Users\Public\Pictures"/>
    </appSettings>
</configuration>
